@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-900 antialiased;
    font-feature-settings: "kern" 1;
    text-rendering: optimizeLegibility;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
    letter-spacing: -0.02em;
  }
}

